/* variables.css */
:root {
  --primary-color: #F2B821;
  --secondary-color: #05213C;
  --dark-color: #313131;
  --light-color: #f8f9fa;
  --body-color: #5a5a5a;
  --white: #ffffff;
  --black: #000000;
}

/* Color Corrections */
.bg-secondary {
  background-color: #0d6efd !important; /* Original blue color */
}

.text-primary {
  color: #ffc107 !important; /* Original yellow color */
}

/* Footer headings */
footer h5 {
  color: #fff !important;
}